In [1]:
import pandas as pd
import numpy as np
import os
import subprocess

In [2]:
# pip install wget

In [3]:
df = pd.read_csv('./resource/phenotypes_202304020100.csv', sep=';')

In [4]:
df.head()
df.shape

(6674, 719)

In [5]:
avail = df[df["Colour Blindness"]!='-']

In [6]:
avail['Colour Blindness'].unique()

array(['False', 'Not color blind', 'Not colour blind', 'not color blind',
       'Red-green colour blind', 'Mild red-green colour blind',
       'Mild blue-black colour blind',
       'low light blue green colour blindness',
       'Low light blue green colour blindness',
       'trouble distinguishing between dark blue & black (not color blindness), dad had red-green color blindness',
       'No', 'carrier (eg: my brother and my son have colour blindness)',
       'Carrier (eg: my brother and my son have colour blindness)',
       'Not colour blind, but difficulty telling red/orange/pink apart sometimes',
       'Tritanomaly',
       'Trouble distinguishing purples, dark blue, violets. ',
       'Moderate to Strong Protanopia',
       'Not color blind, but my parent is color blind', nan, 'N/a', 'Yes',
       'slight blue, purple'], dtype=object)

## Two ways to seperate phenotypes:

1. Yes/No Color-Blindness

Yes: ['Red-green colour blind', 'Mild red-green colour blind', 'low light blue green colour blindness', 'Low light blue green colour blindness', 'Tritanomaly', 'Moderate to Strong Protanopia', 'Yes', 'slight blue, purple', 'Trouble distinguishing purples, dark blue, violets. ']

No: ['False', 'Not color blind', 'Not colour blind', 'not color blind', 'Not color blind, but my parent is color blind', 'trouble distinguishing between dark blue & black (not color blindness), dad had red-green color blindness',
       'No', 'carrier (eg: my brother and my son have colour blindness)',
       'Carrier (eg: my brother and my son have colour blindness)',
       'Not colour blind, but difficulty telling red/orange/pink apart sometimes',]

2. Type of Color-Blindess

Red-green: ['Red-green colour blind', 'Mild red-green colour blind', 'Moderate to Strong Protanopia']

Blue-yellow: ['low light blue green colour blindness', 'Low light blue green colour blindness', 'Tritanomaly', 'slight blue, purple', 'Trouble distinguishing purples, dark blue, violets. ']

In [7]:
avail['user_id'] #there are individuals with multiple files

0           1
1           1
2           1
3           1
5           8
        ...
6592    11641
6593    11643
6622    11698
6624    11700
6650    11753
Name: user_id, Length: 785, dtype: int64

In [8]:
avail.shape

(785, 719)

In [9]:
avail

,user_id,genotype_filename,date_of_birth,chrom_sex,openhumans_name,Eye color,Lactose intolerance,Handedness,white skin,Ability to find a bug in openSNP,...,Dementia Resistance,Short Stature,Root resorption of tooth,Congenital adrenal hyperplasia (CAH),Difficulty reaching climax/ orgasming with partner,Thin Skin,Excessive sweating from heat (Eccrine sweat glands),Emotional sweating (apocrine sweat glands),Cold-Induced Sweating,"Epicanthic Fold, Hooded Eyes"
0,1,1.23andme.9,1985,XY,-,blue-green,lactose-tolerant,left-handed,Caucasian,Only creating bugs,...,-,-,-,-,-,-,-,-,-,-
1,1,1.23andme.2995,1985,XY,-,blue-green,lactose-tolerant,left-handed,Caucasian,Only creating bugs,...,-,-,-,-,-,-,-,-,-,-
2,1,1.23andme-exome-vcf.3302,1985,XY,-,blue-green,lactose-tolerant,left-handed,Caucasian,Only creating bugs,...,-,-,-,-,-,-,-,-,-,-
3,1,1.23andme.5299,1985,XY,-,blue-green,lactose-tolerant,left-handed,Caucasian,Only creating bugs,...,-,-,-,-,-,-,-,-,-,-
5,8,8.23andme.2,rather not say,XX,-,Brown,lactose-intolerant,left-handed,True,c-c-combo breaker!,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6592,11641,11641.ftdna-illumina.9569,1990,XY,Daiten,Green-gray,-,"Right-handed dominant, left-handed for eating",-,-,...,-,-,-,-,-,-,-,-,-,-
6593,11643,11643.23andme.9571,rather not say,rather not say,-,Brown,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
6622,11698,11698.23andme.9613,1997,XY,takiwatanga,Brown-green,Partially lactose intolerant - surfaces with a...,Left-handed,Caucasian,Positive,...,-,-,Yes,suspected diagnosis,Almost Impossible,-,Yes,High,Yes,-
6624,11700,11700.ancestry.9615,rather not say,rather not say,-,-,-,Right-handed,Caucasian,-,...,-,-,-,-,-,-,-,-,-,-
6650,11753,11753.ancestry.9654,1972,XY,-,Blue-grey,Lactose intolerant,Right-handed,Light tan,-,...,-,-,-,-,-,-,-,-,-,-

In [10]:
cb = avail[['user_id', 'genotype_filename', 'date_of_birth', 'chrom_sex', 'Colour Blindness']]
cb = cb.rename(columns={'Colour Blindness':'raw_colourblindness'})
cb = cb.dropna()
cb = cb[cb['raw_colourblindness']!='N/a']
cb.groupby('raw_colourblindness', axis=0).count()['user_id']

raw_colourblindness
Carrier (eg: my brother and my son have colour blindness)                                                      4
False                                                                                                        124
Low light blue green colour blindness                                                                          4
Mild blue-black colour blind                                                                                   4
Mild red-green colour blind                                                                                   24
Moderate to Strong Protanopia                                                                                  1
No                                                                                                            10
Not color blind                                                                                              303
Not color blind, but my parent is color blind                                                                  1
Not colour blind                                                                                             268
Not colour blind, but difficulty telling red/orange/pink apart sometimes                                       3
Red-green colour blind                                                                                        19
Tritanomaly                                                                                                    4
Trouble distinguishing purples, dark blue, violets.                                                            2
Yes                                                                                                            3
carrier (eg: my brother and my son have colour blindness)                                                      1
low light blue green colour blindness                                                                          1
not color blind                                                                                                5
slight blue, purple                                                                                            1
trouble distinguishing between dark blue & black (not color blindness), dad had red-green color blindness      1
Name: user_id, dtype: int64

In [11]:
yes  = {key:True for key in ['Red-green colour blind', 'Mild red-green colour blind', 'low light blue green colour blindness', 'Low light blue green colour blindness', 'Tritanomaly', 'Moderate to Strong Protanopia', 'Yes', 'Mild blue-black colour blind', 'slight blue, purple', 'Trouble distinguishing purples, dark blue, violets. ']}
no = {key:False for key in ['False', 'Not color blind', 'Not colour blind', 'not color blind', 'Not color blind, but my parent is color blind', 'trouble distinguishing between dark blue & black (not color blindness), dad had red-green color blindness',
       'No', 'carrier (eg: my brother and my son have colour blindness)',
       'Carrier (eg: my brother and my son have colour blindness)',
       'Not colour blind, but difficulty telling red/orange/pink apart sometimes',]}
yes.update(no)
cb['CBDiscrete'] = cb['raw_colourblindness'].map(yes)
cb

,user_id,genotype_filename,date_of_birth,chrom_sex,raw_colourblindness,CBDiscrete
0,1,1.23andme.9,1985,XY,False,False
1,1,1.23andme.2995,1985,XY,False,False
2,1,1.23andme-exome-vcf.3302,1985,XY,False,False
3,1,1.23andme.5299,1985,XY,False,False
5,8,8.23andme.2,rather not say,XX,False,False
...,...,...,...,...,...,...
6592,11641,11641.ftdna-illumina.9569,1990,XY,False,False
6593,11643,11643.23andme.9571,rather not say,rather not say,Red-green colour blind,True
6622,11698,11698.23andme.9613,1997,XY,False,False
6624,11700,11700.ancestry.9615,rather not say,rather not say,Not colour blind,False
6650,11753,11753.ancestry.9654,1972,XY,"slight blue, purple",True

In [12]:
counts = cb.groupby('user_id').count()
counts

,genotype_filename,date_of_birth,chrom_sex,raw_colourblindness,CBDiscrete
user_id,,,,,
1,4,4,4,4,4
8,1,1,1,1,1
10,2,2,2,2,2
11,1,1,1,1,1
14,1,1,1,1,1
...,...,...,...,...,...
11641,1,1,1,1,1
11643,1,1,1,1,1
11698,1,1,1,1,1
11700,1,1,1,1,1
11753,1,1,1,1,1

In [13]:
colorBlind = cb[cb['CBDiscrete']==True]

In [14]:
cb.groupby('CBDiscrete').count()

,user_id,genotype_filename,date_of_birth,chrom_sex,raw_colourblindness
CBDiscrete,,,,,
False,720,720,720,720,720
True,63,63,63,63,63

In [15]:
cb[cb['user_id']==1]

,user_id,genotype_filename,date_of_birth,chrom_sex,raw_colourblindness,CBDiscrete
0,1,1.23andme.9,1985,XY,False,False
1,1,1.23andme.2995,1985,XY,False,False
2,1,1.23andme-exome-vcf.3302,1985,XY,False,False
3,1,1.23andme.5299,1985,XY,False,False

In [16]:
urlHead = "https://opencravat.org/data/open-snp/"

In [17]:
allFiles = np.loadtxt("./resource/genotype_files.txt", dtype=str)

In [18]:
userID = cb['user_id'].unique().tolist()

In [19]:
fileNames = []

for file in allFiles:
    if int(file.split("_")[0][4:]) in userID:
        fileNames.append(file)

In [20]:
cb

,user_id,genotype_filename,date_of_birth,chrom_sex,raw_colourblindness,CBDiscrete
0,1,1.23andme.9,1985,XY,False,False
1,1,1.23andme.2995,1985,XY,False,False
2,1,1.23andme-exome-vcf.3302,1985,XY,False,False
3,1,1.23andme.5299,1985,XY,False,False
5,8,8.23andme.2,rather not say,XX,False,False
...,...,...,...,...,...,...
6592,11641,11641.ftdna-illumina.9569,1990,XY,False,False
6593,11643,11643.23andme.9571,rather not say,rather not say,Red-green colour blind,True
6622,11698,11698.23andme.9613,1997,XY,False,False
6624,11700,11700.ancestry.9615,rather not say,rather not say,Not colour blind,False
6650,11753,11753.ancestry.9654,1972,XY,"slight blue, purple",True

In [21]:
fileNames

['user10020_file8283_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user10093_file8353_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user10128_file8398_yearofbirth_1989_sex_XX.23andme.txt',
 'user10188_file8451_yearofbirth_2005_sex_XY.ancestry.txt',
 'user1020_file507_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user10233_file8494_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user10260_file8525_yearofbirth_1995_sex_XX.ancestry.txt',
 'user10260_file8527_yearofbirth_1995_sex_XX.ancestry.txt',
 'user1028_file514_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1029_file515_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1035_file518_yearofbirth_1986_sex_XX.ancestry.txt',
 'user10362_file8611_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user10383_file8633_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user1039_file521_yearofbirth_1958_sex_XY.23andme.txt',
 'user103_file50_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user10408_file8659_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1040_file522_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user10420_file8678_yearofbirth_1997_sex_XY.23andme.txt',
 'user10430_file8694_yearofbirth_unknown_sex_XX.ancestry.txt',
 'user10448_file8721_yearofbirth_1975_sex_XX.ancestry.txt',
 'user10507_file8778_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user10508_file8779_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user1050_file3024_yearofbirth_1975_sex_XY.ftdna-illumina.txt',
 'user10583_file8851_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user10586_file8852_yearofbirth_1999_sex_XY.ancestry.txt',
 'user10632_file8882_yearofbirth_1958_sex_XY.23andme.txt',
 'user10632_file9278_yearofbirth_1958_sex_XY.23andme.txt',
 'user10645_file8895_yearofbirth_1977_sex_unknown.ancestry.txt',
 'user1066_file543_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1075_file550_yearofbirth_1963_sex_XX.23andme.txt',
 'user10765_file8915_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user10770_file8917_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user10770_file8918_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1078_file553_yearofbirth_1974_sex_XX.ancestry.txt',
 'user10881_file8993_yearofbirth_1976_sex_XY.ftdna-illumina.txt',
 'user10919_file9022_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1092_file835_yearofbirth_1958_sex_XX.ftdna-illumina.txt',
 'user10962_file9067_yearofbirth_1986_sex_XX.ancestry.txt',
 'user10_file3_yearofbirth_1982_sex_XY.23andme.txt',
 'user10_file903_yearofbirth_1982_sex_XY.23andme.txt',
 'user11008_file9131_yearofbirth_1998_sex_unknown.23andme.txt',
 'user1100_file606_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1103_file565_yearofbirth_unknown_sex_XX.23andme.txt',
 'user1104_file2221_yearofbirth_1972_sex_XX.23andme.txt',
 'user1104_file2222_yearofbirth_1972_sex_XX.23andme.txt',
 'user1104_file5262_yearofbirth_1972_sex_XX.23andme.txt',
 'user1104_file8688_yearofbirth_1972_sex_XX.23andme.txt',
 'user11056_file9168_yearofbirth_1991_sex_XY.23andme.txt',
 'user11069_file9182_yearofbirth_1995_sex_XX.ancestry.txt',
 'user1111_file3026_yearofbirth_unknown_sex_unknown.ftdna-illumina.txt',
 'user11143_file9248_yearofbirth_unknown_sex_unknown.ftdna-illumina.txt',
 'user1114_file574_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1125_file582_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user11410_file9330_yearofbirth_1997_sex_XX.ancestry.txt',
 'user1147_file598_yearofbirth_1948_sex_XY.23andme.txt',
 'user1147_file6412_yearofbirth_1948_sex_XY.ancestry.txt',
 'user11520_file9414_yearofbirth_1998_sex_XX.ancestry.txt',
 'user11523_file9416_yearofbirth_1988_sex_XX.23andme.txt',
 'user11525_file9417_yearofbirth_unknown_sex_unknown.ftdna-illumina.txt',
 'user11526_file9418_yearofbirth_1973_sex_XX.ancestry.txt',
 'user11526_file9602_yearofbirth_1973_sex_XX.ancestry.txt',
 'user11531_file9422_yearofbirth_1986_sex_XY.23andme.txt',
 'user11531_file9423_yearofbirth_1986_sex_XY.ancestry.txt',
 'user11531_file9424_yearofbirth_1986_sex_XY.23andme-exome-vcf.txt',
 'user11537_file9429_yearofbirth_unknown_sex_unknown.23andme-exome-vcf.txt',
 'user1163_file603_yearofbirth_1987_sex_unknown.23andme.txt',
 'user11641_file9569_yearofbirth_1990_sex_XY.ftdna-illumina.txt',
 'user11643_file9571_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user11698_file9613_yearofbirth_1997_sex_XY.23andme.txt',
 'user11700_file9615_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user1171_file607_yearofbirth_unknown_sex_XX.23andme.txt',
 'user1171_file624_yearofbirth_unknown_sex_XX.23andme.txt',
 'user11753_file9654_yearofbirth_1972_sex_XY.ancestry.txt',
 'user1190_file626_yearofbirth_unknown_sex_XX.23andme.txt',
 'user1193_file628_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user11_file176_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user123_file54_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user124_file55_yearofbirth_1947_sex_XX.23andme.txt',
 'user1259_file1591_yearofbirth_unknown_sex_unknown.ftdna-illumina.txt',
 'user1269_file673_yearofbirth_1967_sex_XX.23andme.txt',
 'user126_file57_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1325_file706_yearofbirth_1977_sex_XX.23andme.txt',
 'user1375_file726_yearofbirth_1976_sex_XX.23andme.txt',
 'user1376_file727_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user1378_file729_yearofbirth_1978_sex_unknown.ancestry.txt',
 'user1378_file9427_yearofbirth_1978_sex_unknown.23andme.txt',
 'user1384_file734_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1392_file742_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1401_file749_yearofbirth_1984_sex_XY.23andme.txt',
 'user1402_file5300_yearofbirth_unknown_sex_unknown.23andme-exome-vcf.txt',
 'user1402_file750_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user1409_file757_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1432_file774_yearofbirth_1979_sex_XY.23andme.txt',
 'user1447_file789_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1459_file799_yearofbirth_1967_sex_XX.23andme.txt',
 'user1465_file803_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1468_file806_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user146_file62_yearofbirth_1971_sex_XY.23andme.txt',
 'user1470_file807_yearofbirth_1972_sex_XY.23andme.txt',
 'user1491_file810_yearofbirth_1978_sex_XX.ftdna-illumina.txt',
 'user1495_file815_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user1499_file818_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user14_file6_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1500_file819_yearofbirth_1985_sex_XY.23andme.txt',
 'user1519_file836_yearofbirth_1992_sex_XX.ancestry.txt',
 'user1522_file839_yearofbirth_1984_sex_XY.23andme.txt',
 'user1525_file842_yearofbirth_1982_sex_XY.23andme.txt',
 'user1531_file843_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1532_file1679_yearofbirth_1970_sex_XY.ancestry.txt',
 'user1532_file844_yearofbirth_1970_sex_XY.23andme.txt',
 'user1537_file846_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1566_file876_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1568_file878_yearofbirth_1971_sex_XX.23andme.txt',
 'user1573_file880_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1582_file887_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user158_file66_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user159_file67_yearofbirth_1984_sex_XX.23andme.txt',
 'user160_file153_yearofbirth_1954_sex_unknown.23andme.txt',
 'user1615_file913_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1626_file924_yearofbirth_1977_sex_XX.23andme.txt',
 'user1627_file925_yearofbirth_1973_sex_XY.23andme.txt',
 'user1641_file935_yearofbirth_1952_sex_XX.23andme.txt',
 'user1647_file939_yearofbirth_1975_sex_XX.ancestry.txt',
 'user1669_file4129_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1669_file955_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1686_file969_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1695_file977_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1697_file979_yearofbirth_1982_sex_XX.23andme.txt',
 'user16_file3446_yearofbirth_1966_sex_XY.23andme.txt',
 'user1702_file9400_yearofbirth_1973_sex_XY.23andme.txt',
 'user1712_file988_yearofbirth_1953_sex_unknown.23andme.txt',
 'user1715_file991_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user1718_file993_yearofbirth_1951_sex_unknown.23andme.txt',
 'user1720_file996_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1723_file997_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1731_file1002_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user1732_file1006_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user1735_file1003_yearofbirth_unknown_sex_unknown.ftdna-illumina.txt',
 'user1737_file1005_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user1738_file1007_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1742_file1010_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1743_file1011_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1764_file1025_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1777_file1043_yearofbirth_1982_sex_XY.23andme.txt',
 'user1777_file4635_yearofbirth_1982_sex_XY.23andme.txt',
 'user1778_file1034_yearofbirth_1966_sex_XY.23andme.txt',
 'user177_file78_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1790_file1047_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user17_file143_yearofbirth_unknown_sex_XX.23andme.txt',
 'user1802_file1052_yearofbirth_1976_sex_XY.23andme.txt',
 'user1808_file1056_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1813_file1063_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1825_file1070_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1827_file1072_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1848_file1091_yearofbirth_1994_sex_XY.23andme.txt',
 'user1879_file1117_yearofbirth_1980_sex_XY.23andme.txt',
 'user1879_file1768_yearofbirth_1980_sex_XY.23andme.txt',
 'user187_file267_yearofbirth_1951_sex_XY.23andme.txt',
 'user1885_file5281_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user1887_file1123_yearofbirth_1967_sex_XY.23andme.txt',
 'user1901_file1134_yearofbirth_1971_sex_XY.23andme.txt',
 'user1902_file1135_yearofbirth_1974_sex_unknown.23andme.txt',
 'user1952_file1206_yearofbirth_1981_sex_XY.23andme.txt',
 'user1952_file3713_yearofbirth_1981_sex_XY.23andme.txt',
 'user1952_file4257_yearofbirth_1981_sex_XY.23andme-exome-vcf.txt',
 'user1958_file1149_yearofbirth_1991_sex_XY.23andme.txt',
 'user1964_file1683_yearofbirth_1990_sex_XY.23andme.txt',
 'user1964_file4905_yearofbirth_1990_sex_XY.23andme.txt',
 'user1975_file1162_yearofbirth_1992_sex_XY.23andme.txt',
 'user1984_file1170_yearofbirth_1973_sex_XX.23andme.txt',
 'user1987_file1172_yearofbirth_unknown_sex_XY.ftdna-illumina.txt',
 'user1987_file1173_yearofbirth_unknown_sex_XY.ftdna-illumina.txt',
 'user1987_file1174_yearofbirth_unknown_sex_XY.23andme.txt',
 'user1987_file5024_yearofbirth_unknown_sex_XY.23andme-exome-vcf.txt',
 'user1987_file5025_yearofbirth_unknown_sex_XY.23andme-exome-vcf.txt',
 'user1_file2995_yearofbirth_1985_sex_XY.23andme.txt',
 'user1_file3302_yearofbirth_1985_sex_XY.23andme-exome-vcf.txt',
 'user1_file5299_yearofbirth_1985_sex_XY.23andme.txt',
 'user1_file9_yearofbirth_1985_sex_XY.23andme.txt',
 'user2000_file1184_yearofbirth_1973_sex_XX.23andme.txt',
 'user2004_file1189_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2008_file1193_yearofbirth_1963_sex_XX.23andme.txt',
 'user200_file84_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2075_file1250_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2076_file1251_yearofbirth_unknown_sex_XY.23andme.txt',
 'user2116_file1284_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2151_file1303_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2155_file1308_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2159_file1311_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user216_file109_yearofbirth_1984_sex_XY.23andme.txt',
 'user2177_file1327_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2195_file1339_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2199_file1344_yearofbirth_1960_sex_XX.23andme.txt',
 'user2199_file1392_yearofbirth_1960_sex_XX.23andme.txt',
 'user2238_file1378_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2249_file1384_yearofbirth_1971_sex_XY.23andme.txt',
 'user2287_file1400_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2288_file1401_yearofbirth_1942_sex_XX.23andme.txt',
 'user2288_file1431_yearofbirth_1942_sex_XX.23andme.txt',
 'user2288_file1439_yearofbirth_1942_sex_XX.23andme.txt',
 'user2291_file1402_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user22_file8_yearofbirth_1975_sex_XY.23andme.txt',
 'user2304_file1415_yearofbirth_1957_sex_XY.23andme.txt',
 'user2307_file1417_yearofbirth_1979_sex_XX.23andme.txt',
 'user2334_file1442_yearofbirth_1991_sex_XY.23andme.txt',
 'user2334_file1727_yearofbirth_1991_sex_XY.23andme.txt',
 'user2358_file1458_yearofbirth_unknown_sex_XX.ancestry.txt',
 'user2385_file1478_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2393_file1486_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user2393_file4871_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user2402_file1495_yearofbirth_1984_sex_XY.23andme.txt',
 'user2406_file1498_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user241_file107_yearofbirth_1984_sex_XY.23andme.txt',
 'user2455_file1519_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2456_file1553_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2457_file1521_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2498_file1529_yearofbirth_1983_sex_XY.23andme.txt',
 'user2506_file1536_yearofbirth_1948_sex_XY.ftdna-illumina.txt',
 'user2513_file1542_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2516_file1545_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2535_file1554_yearofbirth_1992_sex_XY.23andme.txt',
 'user2557_file1575_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2557_file8325_yearofbirth_unknown_sex_unknown.23andme-exome-vcf.txt',
 'user2557_file8343_yearofbirth_unknown_sex_unknown.23andme-exome-vcf.txt',
 'user2645_file1662_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2660_file1675_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2665_file1681_yearofbirth_unknown_sex_XY.ancestry.txt',
 'user266_file104_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2677_file1695_yearofbirth_1973_sex_XY.ancestry.txt',
 'user2677_file6101_yearofbirth_1973_sex_XY.23andme.txt',
 'user2687_file1702_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user268_file106_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2691_file1705_yearofbirth_1963_sex_XX.ftdna-illumina.txt',
 'user26_file10_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user26_file237_yearofbirth_unknown_sex_unknown.23andme-exome-vcf.txt',
 'user2725_file1732_yearofbirth_1981_sex_XY.23andme.txt',
 'user2729_file1736_yearofbirth_1970_sex_XX.ancestry.txt',
 'user276_file110_yearofbirth_1972_sex_XY.23andme.txt',
 'user2797_file1771_yearofbirth_1990_sex_XY.23andme.txt',
 'user279_file113_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2811_file1778_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2849_file1808_yearofbirth_1976_sex_XY.23andme.txt',
 'user2856_file1814_yearofbirth_1990_sex_XY.23andme-exome-vcf.txt',
 'user285_file118_yearofbirth_1976_sex_XY.23andme.txt',
 'user2871_file1821_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2874_file1893_yearofbirth_1985_sex_XY.23andme.txt',
 'user287_file120_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2881_file1824_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2882_file1825_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2887_file1829_yearofbirth_1988_sex_XY.23andme.txt',
 'user2901_file1841_yearofbirth_1958_sex_unknown.23andme.txt',
 'user2903_file1842_yearofbirth_1958_sex_XX.23andme.txt',
 'user2903_file1843_yearofbirth_1958_sex_XX.23andme.txt',
 'user294_file125_yearofbirth_1963_sex_XY.23andme.txt',
 'user2953_file1885_yearofbirth_1993_sex_XY.ftdna-illumina.txt',
 'user2956_file1886_yearofbirth_1974_sex_unknown.ancestry.txt',
 'user295_file126_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user2969_file4132_yearofbirth_1990_sex_XX.23andme.txt',
 'user296_file127_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3037_file1952_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3037_file3696_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3043_file1954_yearofbirth_1965_sex_XY.23andme-exome-vcf.txt',
 'user3043_file2035_yearofbirth_1965_sex_XY.23andme.txt',
 'user3130_file2019_yearofbirth_unknown_sex_XY.23andme.txt',
 'user3137_file2026_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3196_file2078_yearofbirth_1989_sex_XX.23andme.txt',
 'user3197_file2079_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user319_file504_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user323_file142_yearofbirth_1983_sex_XY.23andme.txt',
 'user3275_file2129_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3277_file2130_yearofbirth_1988_sex_XX.ancestry.txt',
 'user3277_file2133_yearofbirth_1988_sex_XX.ancestry.txt',
 'user3289_file2139_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user328_file316_yearofbirth_1992_sex_XY.23andme.txt',
 'user330_file146_yearofbirth_unknown_sex_XY.23andme.txt',
 'user3326_file2167_yearofbirth_1986_sex_XX.23andme.txt',
 'user3335_file2171_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3343_file2176_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3364_file2182_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3370_file2187_yearofbirth_1990_sex_XY.23andme.txt',
 'user3381_file2197_yearofbirth_1957_sex_XY.ftdna-illumina.txt',
 'user3381_file5266_yearofbirth_1957_sex_XY.23andme.txt',
 'user3395_file2208_yearofbirth_1942_sex_XY.23andme.txt',
 'user3395_file2209_yearofbirth_1942_sex_XY.ancestry.txt',
 'user3395_file2210_yearofbirth_1942_sex_XY.ftdna-illumina.txt',
 'user3395_file5278_yearofbirth_1942_sex_XY.ftdna-illumina.txt',
 'user3397_file2212_yearofbirth_1977_sex_XY.ftdna-illumina.txt',
 'user3397_file2213_yearofbirth_1977_sex_XY.ftdna-illumina.txt',
 'user3397_file4006_yearofbirth_1977_sex_XY.ftdna-illumina.txt',
 'user3397_file7911_yearofbirth_1977_sex_XY.23andme.txt',
 'user339_file150_yearofbirth_1950_sex_XY.ftdna-illumina.txt',
 'user339_file151_yearofbirth_1950_sex_XY.ftdna-illumina.txt',
 'user33_file12_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3400_file2218_yearofbirth_unknown_sex_unknown.decodeme.txt',
 'user341_file155_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3448_file2248_yearofbirth_unknown_sex_XX.ancestry.txt',
 'user3448_file8842_yearofbirth_unknown_sex_XX.23andme.txt',
 'user3448_file8843_yearofbirth_unknown_sex_XX.ftdna-illumina.txt',
 'user345_file192_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user347_file157_yearofbirth_1952_sex_XX.23andme.txt',
 'user352_file161_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3569_file2336_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3571_file2340_yearofbirth_unknown_sex_unknown.ftdna-illumina.txt',
 'user3571_file2341_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user35_file210_yearofbirth_unknown_sex_XY.23andme-exome-vcf.txt',
 'user35_file5822_yearofbirth_unknown_sex_XY.23andme.txt',
 'user3611_file2372_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3642_file2394_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3655_file2403_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user366_file167_yearofbirth_1950_sex_XY.23andme.txt',
 'user3671_file2416_yearofbirth_1962_sex_XX.ancestry.txt',
 'user3672_file2417_yearofbirth_unknown_sex_unknown.ancestry.txt',
 'user3689_file2434_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user368_file168_yearofbirth_1958_sex_XX.23andme.txt',
 'user36_file14_yearofbirth_1986_sex_XY.23andme.txt',
 'user36_file207_yearofbirth_1986_sex_XY.23andme-exome-vcf.txt',
 'user36_file327_yearofbirth_1986_sex_XY.23andme-exome-vcf.txt',
 'user3730_file2468_yearofbirth_unknown_sex_unknown.23andme.txt',
 'user3733_file2470_yearofbirth_unknown_sex_unknown.ancestry.txt',

In [22]:
def format(fileName:str):
    return fileName.split('.')[1]

In [23]:
cb['format'] = cb['genotype_filename'].transform(format)

In [24]:
file23andMe = cb[cb['format']=='23andme']

In [30]:
file23andMe.shape

(514, 8)

In [25]:
fileNamesSplit = [int(file.split('_')[1][4:]) for file in fileNames]

In [26]:
def mapFileName(genotypeF):
    fileNum = int(genotypeF.split('.')[-1])
    return fileNames[fileNamesSplit.index(fileNum)]

In [27]:
file23andMe['fileName'] = file23andMe['genotype_filename'].transform(mapFileName)

C:\Users\175le\AppData\Local\Temp\ipykernel_23020\4126463386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file23andMe['fileName'] = file23andMe['genotype_filename'].transform(mapFileName)

In [28]:
def fileSize(file:str):
    return os.path.getsize('./raw/'+file)

In [29]:
file23andMe['fileSize'] = file23andMe['fileName'].transform(fileSize)

TypeError: stat: path should be string, bytes, os.PathLike or integer, not Series

In [ ]:
def build(file:str):
    openFile = open('./raw/'+file, 'rb')
    for i in range(50):
        line = str(openFile.readline()).split(' ')
        if 'build' in line:
            return line[line.index('build')+1][:2]
    return -1

In [ ]:
build('user10020_file8283_yearofbirth_unknown_sex_unknown.23andme.txt')

In [ ]:
builds = [build(file) for file in file23andMe['fileName']]

In [ ]:
file23andMe['builds'] = builds

In [ ]:
file23andMe.groupby('builds').count()

In [ ]:
validFiles = file23andMe[file23andMe['builds']=='37']

In [ ]:
b = validFiles.groupby('user_id').count()

In [ ]:
repeatID = b[b['genotype_filename']>1].index

In [ ]:
repeatRemove = validFiles[validFiles.user_id.isin(repeatID)]

In [ ]:
dropIndex = []
for id in repeatID:
    check = validFiles[validFiles.user_id == id].fileSize
    maxIndex = check.argmax()
    checkIndex = check.index.to_list()
    del checkIndex[maxIndex]
    dropIndex.append(checkIndex)

In [ ]:
drop = [i for sublist in dropIndex for i in sublist]

In [ ]:
final = validFiles.drop(drop)

In [ ]:
final = final.reset_index(drop=True)

In [ ]:
for index, row in final.iterrows():
    command = "./plink --23file ./raw/{filename} FAM{userID} {userID} {sex} {phenotype} --make-bed --out ./processed/{userID}".format(filename=row['fileName'],
                                                                                                                    userID=row['user_id'],
                                                                                                                    sex=row['chrom_sex'],
                                                                                                                    phenotype=row['CBDiscrete'])

In [ ]:
mapSex = {'XX':1, 'XY':2, 'rather not say':'i'}

In [ ]:
final['chrom_sex'] = final['chrom_sex'].map(mapSex)

In [ ]:
mapPhen = {True:2, False:1}
final['CBDiscrete'] = final['CBDiscrete'].map(mapPhen)

In [ ]:
row = final.iloc[1]

In [ ]:
command = "./plink --23file ./raw/{filename} FAM{userID} ID{userID} i {phenotype} --make-bed --out ./processed/{userID}".format(filename=row['fileName'],
                                                                                                                    userID=row['user_id'],
                                                                                                                    phenotype=row['CBDiscrete'])

In [ ]:
for index, row in final.iterrows():
    command = "./plink --23file ./raw/{filename} FAM{userID} ID{userID} i {phenotype} --make-bed --out ./processed/{userID}".format(filename=row['fileName'],
                                                                                                                    userID=row['user_id'],
                                                                                                                    phenotype=row['CBDiscrete'])
    os.system(command)

In [ ]:
processedFiles = os.popen('ls ./processed').read().split('\n')

In [ ]:
errorFiles = [name for name in processedFiles if "temporary" in name]

In [146]:
errorFiles = set([int(file.split('-')[0]) for file in errorFiles])

In [147]:
errorFiles

{3882, 4192, 5211, 5508, 6191, 8522, 8915, 9486, 10632}

In [148]:
final

,user_id,genotype_filename,date_of_birth,chrom_sex,raw_colourblindness,CBDiscrete,format,fileName,fileSize,builds
0,1,1.23andme.5299,1985,2,False,1,23andme,user1_file5299_yearofbirth_1985_sex_XY.23andme...,16819733,37
1,10,10.23andme.903,1982,2,False,1,23andme,user10_file903_yearofbirth_1982_sex_XY.23andme...,24755962,37
2,16,16.23andme.3446,1966,2,False,1,23andme,user16_file3446_yearofbirth_1966_sex_XY.23andm...,15683401,37
3,80,80.23andme.864,1979,2,False,1,23andme,user80_file864_yearofbirth_1979_sex_XY.23andme...,24755580,37
4,187,187.23andme.267,1951,2,Not color blind,1,23andme,user187_file267_yearofbirth_1951_sex_XY.23andm...,14786137,37
...,...,...,...,...,...,...,...,...,...,...
359,11056,11056.23andme.9168,1991,2,Mild red-green colour blind,2,23andme,user11056_file9168_yearofbirth_1991_sex_XY.23a...,16786398,37
360,11523,11523.23andme.9416,1988,1,Not colour blind,1,23andme,user11523_file9416_yearofbirth_1988_sex_XX.23a...,15966590,37
361,11531,11531.23andme.9422,1986,2,Yes,2,23andme,user11531_file9422_yearofbirth_1986_sex_XY.23a...,15458410,37
362,11643,11643.23andme.9571,rather not say,i,Red-green colour blind,2,23andme,user11643_file9571_yearofbirth_unknown_sex_unk...,15458816,37
363,11698,11698.23andme.9613,1997,2,False,1,23andme,user11698_file9613_yearofbirth_1997_sex_XY.23a...,16646997,37

In [149]:
final = final[~final['user_id'].isin(errorFiles)]

In [150]:
final

,user_id,genotype_filename,date_of_birth,chrom_sex,raw_colourblindness,CBDiscrete,format,fileName,fileSize,builds
0,1,1.23andme.5299,1985,2,False,1,23andme,user1_file5299_yearofbirth_1985_sex_XY.23andme...,16819733,37
1,10,10.23andme.903,1982,2,False,1,23andme,user10_file903_yearofbirth_1982_sex_XY.23andme...,24755962,37
2,16,16.23andme.3446,1966,2,False,1,23andme,user16_file3446_yearofbirth_1966_sex_XY.23andm...,15683401,37
3,80,80.23andme.864,1979,2,False,1,23andme,user80_file864_yearofbirth_1979_sex_XY.23andme...,24755580,37
4,187,187.23andme.267,1951,2,Not color blind,1,23andme,user187_file267_yearofbirth_1951_sex_XY.23andm...,14786137,37
...,...,...,...,...,...,...,...,...,...,...
359,11056,11056.23andme.9168,1991,2,Mild red-green colour blind,2,23andme,user11056_file9168_yearofbirth_1991_sex_XY.23a...,16786398,37
360,11523,11523.23andme.9416,1988,1,Not colour blind,1,23andme,user11523_file9416_yearofbirth_1988_sex_XX.23a...,15966590,37
361,11531,11531.23andme.9422,1986,2,Yes,2,23andme,user11531_file9422_yearofbirth_1986_sex_XY.23a...,15458410,37
362,11643,11643.23andme.9571,rather not say,i,Red-green colour blind,2,23andme,user11643_file9571_yearofbirth_unknown_sex_unk...,15458816,37
363,11698,11698.23andme.9613,1997,2,False,1,23andme,user11698_file9613_yearofbirth_1997_sex_XY.23a...,16646997,37

In [151]:
def mergeCommand(ref, target, out):
    return "./plink --bfile ./processed/{ref} --bmerge ./processed/{target} --make-bed --out ./processed/{out} >/dev/null 2>&1".format(ref=ref, target=target, out=out)
def flipCommand(ref, flip):
    return "./plink --bfile ./processed/{ref} --flip ./processed/{flip} --make-bed --out ./processed/{ref}Flip >/dev/null 2>&1".format(ref=ref, flip=flip)
def exCommand(ref, flip):
    return "./plink --bfile ./processed/{ref} --exclude ./processed/{flip} --make-bed --out ./processed/{ref} >/dev/null 2>&1".format(ref=ref, flip=flip)

In [158]:
final['user_id'].to_list().index(4941)

237

In [167]:
final['user_id'].to_list()[352:]

[11531, 11643, 11698]

In [166]:
# os.system(flipCommand("11523miss", "merger-350-merge.missnp"))
# os.system("./plink2 --bfile ./processed/11523 --rm-dup 'exclude-mismatch' --make-bed --out ./processed/11523dup")
# os.system("./plink --bfile ./processed/11523dup --set-missing-var-ids '@:#[b37]\$1,\$2' --make-bed --out ./processed/11523miss")
# os.system(mergeCommand("11523missFlip", "merger-351", "merger-352"))

0

In [168]:
# os.system(mergeCommand("1", "10", "merger-0"))
ref = "merger-352"
count = 353
for user in final['user_id'].to_list()[352:]:
    new = "merger-"+str(count)
    respondID = os.system(mergeCommand(ref, str(user), new))
    
    if respondID != 0:
        os.system(flipCommand(str(user), new+"-merge.missnp"))
        respondID = os.system(mergeCommand(ref, str(user)+"Flip", new))
        if respondID !=0:
            print("second failure")
            os.system(exCommand(ref, new+"-merge.missnp"))
            os.system(exCommand(str(user)+"Flip", new+"-merge.missnp"))
            respondID = os.system(mergeCommand(ref, str(user)+"Flip", new))
            if respondID !=0:
                print("critical failure")
                break
    ref = new
    count += 1

second failure
second failure
second failure

In [73]:
final[final['user_id'] == 11523]

,user_id,genotype_filename,date_of_birth,chrom_sex,raw_colourblindness,CBDiscrete,format,fileName,fileSize,builds
360,11523,11523.23andme.9416,1988,1,Not colour blind,1,23andme,user11523_file9416_yearofbirth_1988_sex_XX.23a...,15966590,37

In [138]:
os.system(flipCommand("merger-18", "merger-19-merge.missnp"))

PLINK v1.90b7 64-bit (16 Jan 2023)             www.cog-genomics.org/plink/1.9/
(C) 2005-2023 Shaun Purcell, Christopher Chang   GNU General Public License v3
Logging to ./processed/merger-18Flip.log.
Options in effect:
  --bfile ./processed/merger-18
  --flip ./processed/merger-19-merge.missnp
  --make-bed
  --out ./processed/merger-18Flip

8192 MB RAM detected; reserving 4096 MB for main workspace.
1518236 variants loaded from .bim file.
20 people (17 males, 3 females) loaded from .fam.
20 phenotype values loaded from .fam.
--flip: 1 SNP flipped.
Using 1 thread (no multithreaded calculations invoked).
Before main variant filters, 20 founders and 0 nonfounders present.
Calculating allele frequencies... 10111213141516171819202122232425262728293031323334353637383940414243444546474849505152535455565758596061626364656667686970717273747576777879808182838485868788899091929394959697989 done.
Total genotyping rate is 0.564923.
1518236 variants and 20 people pass filters and QC.
Among remaining phenotypes, 0 are cases and 20 are controls.
--make-bed to ./processed/merger-18Flip.bed + ./processed/merger-18Flip.bim +
./processed/merger-18Flip.fam ... 10111213141516171819202122232425262728293031323334353637%

Warning: 2019 het. haploid genotypes present (see ./processed/merger-18Flip.hh
); many commands treat these as missing.

3839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899done.

0

In [144]:
os.system(exCommand("646Flip", "merger-3-merge.missnp"))

PLINK v1.90b7 64-bit (16 Jan 2023)             www.cog-genomics.org/plink/1.9/
(C) 2005-2023 Shaun Purcell, Christopher Chang   GNU General Public License v3
Logging to ./processed/646Flip.log.
Options in effect:
  --bfile ./processed/646Flip
  --exclude ./processed/merger-3-merge.missnp
  --make-bed
  --out ./processed/646Flip

8192 MB RAM detected; reserving 4096 MB for main workspace.

Warning: --make-bed input and output filenames match.  Appending '~' to input
filenames.

960613 variants loaded from .bim file.
1 person (1 male, 0 females) loaded from .fam.
1 phenotype value loaded from .fam.
--exclude: 960612 variants remaining.
Using 1 thread (no multithreaded calculations invoked).
Before main variant filters, 1 founder and 0 nonfounders present.
Calculating allele frequencies... 10111213141516171819202122232425262728293031323334353637383940414243444546474849505152535455565758596061626364656667686970717273747576777879808182838485868788899091929394959697989 done.
Total genotyping rate is 0.994598.
960612 variants and 1 person pass filters and QC.
Among remaining phenotypes, 0 are cases and 1 is a control.
--make-bed to ./processed/646Flip.bed + ./processed/646Flip.bim +
./processed/646Flip.fam ... 101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899%

Warning: 117 het. haploid genotypes present (see ./processed/646Flip.hh ); many
commands treat these as missing.

done.

0

In [147]:
os.system(mergeCommand("merger-2", "646Flip", "drop"))

PLINK v1.90b7 64-bit (16 Jan 2023)             www.cog-genomics.org/plink/1.9/
(C) 2005-2023 Shaun Purcell, Christopher Chang   GNU General Public License v3
Logging to ./processed/drop.log.
Options in effect:
  --bfile ./processed/merger-2
  --bmerge ./processed/646Flip
  --make-bed
  --out ./processed/drop

8192 MB RAM detected; reserving 4096 MB for main workspace.
4 people loaded from ./processed/merger-2.fam.
1 person to be merged from ./processed/646Flip.fam.
Of these, 1 is new, while 0 are present in the base dataset.

Warning: Multiple positions seen for variant 'i4000417'.
Warning: Multiple positions seen for variant 'rs63750426'.
Warning: Multiple positions seen for variant 'rs63749850'.
21 more multiple-position warnings: see log file.
Warning: Variants 'rs3748816' and 'i6059967' have the same position.
Warning: Variants 'rs10797440' and 'i6059704' have the same position.
Warning: Variants 'rs1281013' and 'i6052145' have the same position.
3665 more same-position warnings: see log file.

1488551 markers loaded from ./processed/merger-2.bim.
960612 markers to be merged from ./processed/646Flip.bim.
Of these, 0 are new, while 960612 are present in the base dataset.
Performing single-pass merge (5 people, 1488551 variants).
Merged fileset written to ./processed/drop-merge.bed +
./processed/drop-merge.bim + ./processed/drop-merge.fam .
1488551 variants loaded from .bim file.
5 people (5 males, 0 females) loaded from .fam.
5 phenotype values loaded from .fam.
Using 1 thread (no multithreaded calculations invoked).
Before main variant filters, 5 founders and 0 nonfounders present.
Calculating allele frequencies... 10111213141516171819202122232425262728293031323334353637383940414243444546474849505152535455565758596061626364656667686970717273747576777879808182838485868788899091929394959697989 done.
Total genotyping rate is 0.549998.
1488551 variants and 5 people pass filters and QC.
Among remaining phenotypes, 0 are cases and 5 are controls.
--make-bed to ./processed/drop.bed + ./processed/drop.bim +
./processed/drop.fam ... 1011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768%

Warning: 593 het. haploid genotypes present (see ./processed/drop.hh ); many
commands treat these as missing.

69707172737475767778798081828384858687888990919293949596979899done.

0

In [ ]:
# x = os.system(flipCommand("187", "test6-merge.missnp", "187flip"))

In [ ]:
# os.system(mergeCommand("test5", "187flip", "test6"))

In [ ]:
# os.system("./plink --bfile ./processed/10mod --list-duplicate-vars 'suppress-first' 'ids-only' --out ./processed/10mod")

In [ ]:
# os.system("./plink --bfile ./processed/10mod --exclude ./processed/10mod.dupvar --make-bed --out ./processed/10mod2")

In [ ]:
# os.system("./plink --bfile ./processed/10 --snps-only --autosome --make-bed --out ./processed/10mod")

In [ ]:
# os.system("./plink2 --bfile ./processed/test5 --rm-dup 'force-first' 'list' --make-bed --out ./processed/test6")

In [170]:
os.system("./plink --bfile ./processed/merger-355 --recode --out ./processed/recoded")

PLINK v1.90b7 64-bit (16 Jan 2023)             www.cog-genomics.org/plink/1.9/
(C) 2005-2023 Shaun Purcell, Christopher Chang   GNU General Public License v3
Logging to ./processed/recoded.log.
Options in effect:
  --bfile ./processed/merger-355
  --out ./processed/recoded
  --recode

8192 MB RAM detected; reserving 4096 MB for main workspace.
1561939 variants loaded from .bim file.
355 people (220 males, 135 females) loaded from .fam.
355 phenotype values loaded from .fam.
Using 1 thread (no multithreaded calculations invoked).
Before main variant filters, 355 founders and 0 nonfounders present.
Calculating allele frequencies... 10111213141516171819202122232425262728293031323334353637383940414243444546474849505152535455565758596061626364656667686970717273747576777879808182838485868788899091929394959697989 done.

Warning: 25646 het. haploid genotypes present (see ./processed/recoded.hh );
many commands treat these as missing.

Total genotyping rate is 0.462741.
1561939 variants and 355 people pass filters and QC.
Among remaining phenotypes, 21 are cases and 334 are controls.
--recode ped to ./processed/recoded.ped + ./processed/recoded.map ... 101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899done.

0